body {
    background: linear-gradient(to right,#ede6ff,#a29dec);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-hover {
    transition: transform 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out;
}

.card-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.text-hover {
    transition: transform 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out;
}

.text-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.hover-zoom-out {
    transition: transform 0.3s ease-in-out;
}

.hover-zoom-out:hover{
    transform: scale(0.9);
}

.nav-link:hover {
    opacity: 0.5;
}

.nav-link.active {
    color: var(--bs-success)
}

.nav-link {
    color: rgb(17, 0, 168);
}

.navbar-brand {
    color: rgb(17, 0, 168);
}

.accordion-item {
    font-size: 20px;
}

.accordion-button {
    font-size: 20px;
}

.footer {
    font-size: 12px;
    background: linear-gradient(to top, #6a5acd, #ede6ff);
}

.contact:hover {
    opacity: 0.5;
}